body{
  background-color: #f5f5f5;
}

.App {
  margin: auto;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

form{
  width: 100%;
  margin-bottom: 50px;
}

form input{
  width: 40%;
  line-height: 40px;
  border-radius: 12px;
  font-size: 20px;
  border: 1px solid gray;
  outline: none;
  padding: 0 10px;
}

button {
  background-color: #FA0056;
  font-size: 18px;
  color: white;
  outline: none;
  border-radius: 5px;
}

form button{
  width: 60px;
  line-height: 40px;
  border-radius: 12px;
  font-size: 20px;
  background-color: #00F022;
  outline: none;
  margin-left: 5px;
}

.done {
  text-decoration: line-through;
  text-decoration-color: red;
}

li{
  display: inline-block;
  margin: 0 10px;
  list-style: none;
  font-size: 18px;
  float: left;
}

.task{
  width: 90%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  
}
.task button{
  float: right;
  padding: 0 5px;
}
